# Drupal
/web/core
/web/modules/contrib
/web/themes/contrib
/web/profiles/contrib
/web/sites/*/settings*.php
/web/sites/*/services*.yml
/web/sites/*/files
/vendor

# Composer
/composer.phar

# DDEV
.ddev/config.local.yaml
.ddev/.gitignore

# OS
.DS_Store
Thumbs.db

# IDE
/.idea
/.vscode
